<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/cssss/font-awesome.css" rel="stylesheet" />
    <link href="~/cssss/style.css" rel="stylesheet" />
    <script src="~/jssss/jquery-2.1.4.min.js"></script>
    <script src="~/jssss/particles.min.js"></script>
    <a href="~/fontsss/fontawesome-webfont.eot"></a>
    <a href="~/fontsss/fontawesome-webfont.ttf"></a>
    <a href="~/fontsss/fontawesome-webfont.woff"></a>
    <a href="~/fontsss/FontAwesome.otf"></a>
    <a href="~/fontsss/glyphicons-halflings-regular.woff"></a>
    <a href="~/fontsss/glyphicons-halflings-regular.woff2"></a>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
