
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Error with the login fornow  credentials</h2>
<p> Go back to the login page and input the correct details<a href="@Url.Action("admindashboard","FYMKAdminDashboard")"> Click  Here</a></p>

