
@{
    ViewBag.Title = "Error";
    //Layout = "~/Views/_LayoutPage1.cshtml";
}
<style>
    .center {
        margin: 20%;
        width: 60%;
        border: 3px solid #73AD21;
        padding: 30px;
    }

    /* .cent {
        margin: 20%;
        width: 60%;
    }*/
</style>
<body>

    <div class="center">
        <p >Incorrect Login Credential</p>
        @*<button type="button"  class="btn btn-primary btn-lg">
                <a href="@Url.Action("MentorSignIn","Home")">Login</a>
            </button>*@
        <a href="@Url.Action("Login","Home")"><button type="button" class="btn btn-primary btn-lg">Login</button></a>
    </div>


</body>

