
@{
    ViewBag.Title = "UpdateMatching";
}

<h2>Match Successful</h2>
<p>Go back to matching</p>
<div>
    <a href="@Url.Action("PendingMentorMatch","FYMKAdminDashboard")" type="button">Back</a>

</div>

